<%- include('partials/header'); -%>

<div class="container p-5">
    <a href="#" onclick="history.go(-1)" class="btn btn-dark"><i class="fa-solid fa-chevron-left"></i></a>
      <div class="text-center pb-4">
          <h1>Edit Workout</h1>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-md-9 col-lg-7">
              <form action="/workouts/<%=workout.id %>?_method=PUT" method="POST">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control form-control-lg" value="<%= workout.title %>" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <textarea type="text" name="description" class="form-control form-control-lg" id="exampleInputPassword1" rows="4"><%= workout.description %></textarea>
                  </div>
                  <button type="submit" class="btn btn-dark">Submit</button>
                </form>
          </div>
      </div>
  </div>

<%- include('partials/footer'); -%>